<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link to the external stylesheet -->
    <link rel="stylesheet" href="../CSS/styles.css">
    <title>Yang's Portfolio</title>
</head>

<body class="Aboutme-bg">
    <nav>
        <div class="logo">Yang's Portfolio</div>
        <div class="navbar">
            <!-- List of navigation links -->
            <a href="../index.html">Home</a>
            <a class="active" href="about.html">About me</a>
            <a href="projects.html">Project</a>
            <a href="contact.html">Contact</a>
        </div>
    </nav>
    
    <section class="hero">
        <div class="container">
            <div class="LeftColumn">
                <h1>Yang Chen</h1>
                <li>Age: 23</li>
                <li>School: Ontario Tech University</li>
                <li>Email: yang.chen1@ontariotechu.net</li>
                <li>Hobby: Drawing</li>
        </div>
        <!-- Image for aboutme page -->
        <img src="../Resources/MyfamilyIn2019.jpg" alt="My photo with my dad and sister in 2019">   
    </section>
    <!-- Footer of the website -->
    <footer>
        <p>Contact: yang.chen1@ontariotechu.net | Copyright &copy; 2023 Yang Chen</p>
    </footer>
</body>
</html>
