<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link to the external stylesheet -->
    <link rel="stylesheet" href="../CSS/styles.css">
    <title>Yang's Portfolio</title>
</head>

<body class="Project-bg">
    <nav>
        <div class="logo">Yang's Portfolio</div>
        <div class="navbar">
            <!-- List of navigation links -->
            <a href="../index.html">Home</a>
            <a href="about.html">About me</a>
            <a class="active" href="projects.html">Project</a>
            <a href="contact.html">Contact</a>
        </div>
    </nav>
    
    <section>
        <div>
            <h1>Digital Drawing Project in 2021</h1>
            <div class="LeftColumn">
                <video class="videosize" controls>
                    <source src="../Resources/Project.mp4">
                </video>
            </div>
        </div>
        
        <div>
        </div>
    </section>
    <!-- Footer of the website -->
    <footer>
        <p>Contact: yang.chen1@ontariotechu.net | Copyright &copy; 2023 Yang Chen</p>
    </footer>
</body>
</html>